services:
  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: fitness_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.12-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  flask_app:
    build: .
    container_name: flask_app
    restart: always
    depends_on:
      - postgres
      - rabbitmq
    environment:
      FLASK_APP: app.app
      FLASK_ENV: development
      DATABASE_URL: postgresql+psycopg2://postgres:mypassword@postgres:5432/fitness_db
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_PUBLIC_KEY: ${STRIPE_PUBLIC_KEY}
    ports:
      - "5000:5000"

    volumes:
      - ./app:/app/app
      - ./templates:/app/app/templates

  celery_worker:
    build: .
    container_name: celery_worker
    restart: always
    depends_on:
      - postgres
      - rabbitmq
      - flask_app
    command: celery -A app.celery_app.celery worker --loglevel=info
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:mypassword@postgres:5432/fitness_db
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_PUBLIC_KEY: ${STRIPE_PUBLIC_KEY}
    volumes:
      - ./app:/app/app

volumes:
  pgdata: