<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Panel</title>

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body class="light">

<div class="layout">
  <aside class="sidebar">
      <h2>Admin</h2>

      <nav>
          <a href="/admin">Dashboard</a>
          <a href="/admin/services">Services</a>
          <a href="/admin/trainers">Trainers</a>
          <a href="/admin/reservations">Reservations</a>
          <a href="/admin/users">Users</a>
      </nav>
  </aside>

  <main class="content">
      {% block content %}{% endblock %}
  </main>
</div>
</body>
</html>
