{% extends "admin/base_admin.html" %}

{% block content %}
<h2>Users</h2>

<table class="table">
<thead>
<tr>
    <th>ID</th>
    <th>Email</th>
    <th>Banned</th>
    <th></th>
</tr>
</thead>

<tbody>
{% for u in users %}
<tr>
    <td>{{ u.id }}</td>
    <td><a href="/admin/users/{{ u.id }}">{{ u.email }}</a></td>
    <td>{{ 'Yes' if u.is_banned else 'No' }}</td>
    <td>
        {% if not u.is_banned %}
            <form method="post" action="/admin/users/{{ u.id }}/ban" class="inline">
                <button class="btn-danger">Ban</button>
            </form>
        {% else %}
            <form method="post" action="/admin/users/{{ u.id }}/unban" class="inline">
                <button class="btn">Unban</button>
            </form>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
